<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="individual_project_bragin_sport.Properties.Settings.practica_sport_braginConnectionString" connectionString="Data Source=gogs.wsr.ru;Initial Catalog=practica_sport_bragin;User ID=1580-20;Password=ZAVj40S4" providerName="System.Data.SqlClient" />
    <add name="SportDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=practica_sport_bragin;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--add name="SportDb" connectionString="data source=gogs.wsr.ru;initial catalog=practica_sport_bragin;user id=1580-20;password=ZAVj40S4;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>